{% extends "organisers/base.html" %}

{% block title %}
{{ category_name }}
{% endblock title %}

{% block body %}




<div class="dark p-8">

    <div class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li class="inline-flex items-center">
            <a href="{% url 'organisers:tournament' tournament_data.name %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
              {{ tournament_data.name }}
            </a>
          </li>
    
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{category_data.catagory_type}}</span>
            </div>
          </li>
        </ol>
    </div>
    <br>
    <div class="flex">

        <div class="w-1/2">
            {% if category_data.registration %}
            <mark class="px-2 text-white bg-blue-600 rounded dark:bg-red-500">Registration: closed</mark>
            {% else %}
            <mark class="px-2 text-white bg-blue-600 rounded dark:bg-green-500">Registration: open</mark>

            {% endif %}
            <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">{{tournament_data.game}}</mark>
            <h1
                class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                {{category_data.catagory_type}} </h1>
            <div
                class="w-full max-w-md bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 shadow rounded-lg p-5">
                <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Details</h2>
                <address
                    class="relative bg-gray-50 dark:bg-gray-700 dark:border-gray-600 p-4 rounded-lg border border-gray-200 not-italic grid grid-cols-2">
                    <div class="space-y-2 text-gray-500 dark:text-gray-400 leading-loose sm:block">
                        fixture type <br>
                        Stage <br>
                        Venue
                    </div>

                    <div id="contact-details" class="space-y-2 text-gray-900 dark:text-white font-medium leading-loose">
                        Knockout <br>
                        {{stage}}<br>
                        {{tournament_data.venue}}
                    </div>

                </address>
                <div class="py-4">
                    <h2 class="text-white font-semibold">Count Down</h2>
                    <div id="countdown-container"
                        class="max-w-[150px] mx-auto grid grid-cols-3 gap-2 text-center font-sans"></div>
                </div>

                <div class="flex flex-col gap-2">
                    {% if category_data.registration %}
                        {% if not category_data.fixture %}
                        <button id="create_fixture"
                            class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
                            Fixture</button>
                        <script>
                            document.getElementById('create_fixture').addEventListener('click', function () {
                                fetch("{% url 'api:create_fixture' category_data.tournament  category_data.catagory_type %}", {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-CSRFToken': '{{ csrf_token }}'
                                    }
                                }).then(response => response.json()).then(data => {
                                    console.log(data);
                                    window.location.reload();
                                }).catch((error) => {
                                    console.error('Error:', error);
                                    alert('Error:', error);
                                })
                            });
                        </script>
                        {% else %}

                            {% if not category_data.winner %}
                            <button data-modal-target="Schedule-Match" data-modal-toggle="Schedule-Match"
                                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Schedule match
                            </button>
                            <div id="Schedule-Match" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-md max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                                Schedule Match
                                            </h3>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="Schedule-Match">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <div class="p-4 md:p-5">
    
                                            <p class="text-gray-500 dark:text-gray-400 mb-4">Select the match to Schedule</p>
                                            <form action="" id="schedule_match_form">
    
                                                <ul class="space-y-4 mb-4">
                                                    {% for match in upcoming_matches %}
                                                    <li>
                                                        <input type="checkbox" id="job-{{forloop.counter0}}" name="match_id" value="{{match.id}}" class="hidden peer">
                                                        <label for="job-{{forloop.counter0}}" class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500">
                                                            <div class="block">
                                                                <div class="w-full text-lg font-semibold">{{match.team1.members}} vs {{match.team2.members}}</div>
                                                                <div class="w-full text-gray-500 dark:text-gray-400">SportsHunt</div>
                                                            </div>
                                                            <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg>
                                                        </label>
                                                    </li>
                                                    {% empty %}
                                                    Matches are going on.
                                                    {% endfor %}
                                                </ul>
                                                <button type="submit" class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                    Schedule Match
                                                </button>
                                            </form>
                                            <script>
                                                document.getElementById('schedule_match_form').addEventListener('submit', function (e) {
                                                    e.preventDefault();
                                                    const formData = new FormData(this);
                                                    const data = {};
                                                    formData.forEach((value, key) => {
                                                        if (!data[key]) {
                                                            data[key] = [];
                                                        }
                                                        data[key].push(value);
                                                    });
                                                    console.log(data);
                                                    fetch("{% url 'api:schedule_match'%}", {
                                                            method: 'POST',
                                                            headers: {
                                                                'Content-Type': 'application/json',
                                                                'X-CSRFToken': '{{ csrf_token }}'
                                                            },
                                                            body: JSON.stringify(data)
                                                        }).then(response => response.json()).then(data => {
                                                            console.log(data);
                                                        }).catch((error) => {
                                                            console.error('Error:', error);
                                                        
                                                        })
                                                    }); 
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                              
                            {% endif %}
                        {% endif %}

                    {% else %}
                    <button data-modal-target="close-reg" data-modal-toggle="close-reg"
                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">
                        Close Registration
                    </button>

                    <div id="close-reg" tabindex="-1"
                        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 w-full max-w-md max-h-full">
                            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                <button type="button"
                                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="close-reg">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                                <div class="p-4 md:p-5 text-center">
                                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                    </svg>
                                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Close
                                        registration for all
                                        category..?</h3>
                                    <button type="button" onclick="console.log('close registrationdwadawdaw')"
                                        id="close-reg-btn" data-modal-hide="close-reg"
                                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                        Yes, I'm sure
                                    </button>
                                    <button data-modal-hide="close-reg" type="button"
                                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No,
                                        cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.getElementById('close-reg-btn').addEventListener('click', function () {
                            console.log('close registration');
                            fetch("{% url 'api:close_registration' category_data.tournament  category_data.catagory_type %}", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                }
                            }).then(response => response.json()).then(data => {
                                console.log(data);
                                window.location.reload();
                            }).catch((error) => {
                                console.error('Error:', error);
                            })
                        });
                    </script>
                    {% endif %}

                </div>

            </div>
        </div>

        <div class="w-1/2 flex flex-col items-center p-8">
            {% if poster_url %}
            <img width="400px" class="rounded-lg" src="{{poster_url}}" alt="placeholder">
            {% else %}
            <img width="400px" src="https://picsum.photos/seed/picsum/400/500" alt="placeholder">
            {% endif %}
        </div>
    </div>

    <div class="w-3/4">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
                data-tabs-toggle="#default-styled-tab-content"
                data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
                data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
                role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab"
                        data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">Players</button>
                </li>
                <li class="me-2" role="presentation">
                    <button
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                        id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab"
                        aria-controls="settings" aria-selected="false">Fixture</button>
                </li>
                <li class="me-2" role="presentation">
                    <button
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                        id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab"
                        aria-controls="dashboard" aria-selected="false">Matches</button>
                </li>
            </ul>
        </div>
        <div id="default-styled-tab-content">
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel"
                aria-labelledby="profile-tab">
                {% for team in teams %}
                <li class="flex items-center">
                    <svg class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" border="green" stroke="green" fill="white"
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    <span class="text-white">
                        {{ team }}
                    </span>
                </li>
                {% endfor %}
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel"
                aria-labelledby="settings-tab">
                {% if not category_data.registration %}
                    Close Registration to create fixture
                {% else %}
                    {% if category_data.fixture %}
                        {% include "components/macros/knockout_diagram.html" %}
                    {% else%}
                    {% endif %}
                {% endif %}
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel"
                aria-labelledby="dashboard-tab">

                {% if not category_data.registration %}
                    close registration and crete fixture and schedule matches
                {% else %}
                    {% if not category_data.fixture %}

                    Create fixture to schedule matches
                    {% else %}
                        needs upgrade
                        {% for match in upcoming_matches %}
        
                        <div class="">
                            {{match.team1.members}} vs {{match.team2.members}} <br>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

            </div>

        </div>
    </div>

    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>
    <script>
        const countDownDate = new Date("{{tournament_data.start_date}}").getTime();

        const x = setInterval(function () {
            const now = new Date().getTime();

            const distance = countDownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            // const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Create the countdown container and items
            const countdownContainer = document.getElementById("countdown-container");
            countdownContainer.innerHTML = `
      <div class="bg-gray-100 p-2 rounded-lg shadow-md">
        <div class="text-xl font-bold text-gray-800">${days}</div>
        <div class="text-sm text-gray-600">Days</div>
      </div>
      <div class="bg-gray-100 p-2 rounded-lg shadow-md">
        <div class="text-xl font-bold text-gray-800">${hours}</div>
        <div class="text-sm text-gray-600">Hours</div>
      </div>
      <div class="bg-gray-100 p-2 rounded-lg shadow-md">
        <div class="text-xl font-bold text-gray-800">${minutes}</div>
        <div class="text-sm text-gray-600">Minutes</div>
      </div>
    `;

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                countdownContainer.innerHTML = "<p>EXPIRED</p>";
            }
        }, 1000);
    </script>

</div>

{% endblock body %}