{% extends "organisers/base.html" %}


{% block title %}
Select Tournament
{% endblock title %}


{% block body %}
<div class="bg-gray-800 text-white min-h-screen flex items-center justify-center">
    <div class="bg-gray-900 p-8 rounded-lg shadow-lg max-w-md w-full mt-6">
        <h2 class="text-2xl font-bold mb-6 text-center">Select an Tournament</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for tourn in tournaments %}
            <label class="flex items-center p-4 bg-gray-700 rounded-lg cursor-pointer hover:bg-gray-600">
                <a href="{% url 'organisers:ongoing_matches' tourn.name}">{{ org.name }}</a>
            </label>
            {% empty %}
            <p class=" text-center">No tournaments available</p>    
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}