{% extends "organisers/base.html" %}

{% block title %}
Organisation
{% endblock title %}

{% block body %}
<div class="p-4">
    <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-dark">Welcome, <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600"> {{user}} </span></h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
    </div>
 </div>
<div class="p-4">

    {% for tourn in ongoing_tournaments %}

    <a href="{% url 'organisers:tournament' tournament_name=tourn.name %}"
        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ tourn.name }}</h5>
        <span
            class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">{{tourn.org}}</span>
        {% for cat in tourn.categories.all %}
        <span
            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">{{ cat.catagory_type }}</span>
        {% endfor %}
    </a>
    {% empty %}
    NO ongoing TOURNAMENTS
    {% endfor %}



    <div class="w-3/4">
        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">UpComing Tournaments</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Recent Tournaments</button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">On going matches</button>
                </li>
                <li role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-styled-tab" data-tabs-target="#styled-contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Lorem</button>
                </li>
            </ul>
        </div>
        <div id="default-styled-tab-content">
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="flex justify-between items-center my-8">
                    <h2 class="text-4xl font-extrabold dark:text-white">Upcoming Matches</h2>
                    {% if upcoming_tournaments %}
                        <a href="" class="ml-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">View More</a>
                    
                    {% else %}
                        <a href="" class="ml-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">New Tournament</a>

                    {% endif %}
                </div>

        
                <div class="flex gap-4">
                    {% for tourn in upcoming_tournaments %}
        
                    <a href="{% url 'organisers:tournament' tournament_name=tourn.name %}"
                        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ tourn.name }}</h5>
                        <span
                            class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">{{tourn.org}}</span>
                        {% for cat in tourn.categories.all %}
                        <span
                            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">{{ cat.catagory_type }}</span>
                        {% endfor %}
                    </a>
                    {% empty %}
                    NO UPCOMING TOURNAMENTS
                    {% endfor %}
        
                </div>

            </div>

            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel" aria-labelledby="settings-tab">

                <div class="flex justify-between items-center my-8">
                    <h2 class="text-4xl font-extrabold dark:text-white">Recent Matches</h2>
                    {% if recent_tournaments %}
                    <a href="" class="ml-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">View More</a>
                    {% endif %}
                </div>
        
                <div class="flex gap-4">
        
                    {% for tourn in recent_tournaments %}
                    <a href="{% url 'organisers:tournament' tourn.name %}"
                        class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ tourn.name }}</h5>
                        <span
                            class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">{{tourn.org}}</span>
                        <br>
                        {% for cat in tourn.categories.all %}
                        <span
                            class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center">
                            {{ cat.catagory_type }}</span>
                        {% endfor %}
                    </a>
                    {% empty %}
                    NO Recent TOURNAMENTS
                    {% endfor %}
                </div>

            </div>

            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
            </div>

            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-contacts" role="tabpanel" aria-labelledby="contacts-tab">
                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}