{% extends "organisers/base.html" %}


{% block body %}
  
{% for cat in category_data %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">



    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            {{cat.catagory_type}}
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for team in cat.teams%}
              
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{team.members }}
                </th>
                <td class="px-6 py-4">
                    {% if team.payment_method %}
                        Online
                    {% else %}
                        Offline
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    Accessories
                </td>
                <td class="px-6 py-4">
                    {{cat.price}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
            {% empty %}
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4 whitespace-nowrap dark:text-white" colspan="5">
                    No Registration
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total :{{ cat.Online_Revenue }}</h2>
    <h3>Total of online Entries {{ cat.Total_Revenue }}</h3>
    <br>
    </div>
{% endfor %}
{% endblock body %}
