

# Ignoring Enviornment Directorys
env/

# catch file
__pycache__/

# Ignoring .env file
.env


# ignoring db 
*.sqlite3
.deployment
.vscode\settings.json

# Ignoring old_migration files
old_mig_files/

staticfiles/