{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}
<div class="container mx-auto px-4">
    {% if upcoming_tournaments %}
    <section class="my-8">
        <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
            <h2 class="text-3xl sm:text-4xl font-extrabold dark:text-white mb-4 sm:mb-0">Upcoming tournament</h2>
            <a href=""
                class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 text-center">View
                More</a>
        </div>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-6">
            {% for tourn in upcoming_tournaments %}
            <div
                class="bg-gray-600 text-white rounded-lg p-4 flex flex-col justify-between {% if forloop.counter > 2 %}hidden sm:block{% endif %}">
                <div>
                    <h2 class="text-2xl font-bold mb-2">{{ tourn.name }}</h2>
                    <p class="text-gray-400 mb-4">by {{ tourn.org.name }}</p>

                    <div class="flex items-center mb-2">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>{{ tourn.venue }}</span>
                    </div>

                    <div class="flex items-center mb-4">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                            </path>
                        </svg>
                        <span>{{tourn.start_date}}</span>
                    </div>
                </div>

                <a href="{% url 'core:tournament' tourn.name %}"
                    class="bg-gray-700 text-white py-2 px-4 rounded-md w-full hover:bg-gray-600 transition duration-300 text-center">
                    Learn More
                </a>
            </div>
            {% empty %}
            <p class="text-white">No upcoming tournaments</p>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if ongoing_tournaments %}
    <section class="my-8">
        <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
            <h2 class="text-3xl sm:text-4xl font-extrabold dark:text-white mb-4 sm:mb-0">Ongoing Matches</h2>
            <a href=""
                class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 text-center">View
                More</a>
        </div>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-6">
            {% for tourn in ongoing_tournaments %}
            <div
                class="bg-gray-600 text-white rounded-lg p-4 flex flex-col justify-between {% if forloop.counter > 2 %}hidden sm:block{% endif %}">
                <div>
                    <h2 class="text-2xl font-bold mb-2">{{ tourn.name }}</h2>
                    <p class="text-gray-400 mb-4">by {{ tourn.org.name }}</p>

                    <div class="flex items-center mb-2">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>{{ tourn.venue }}</span>
                    </div>

                    <div class="flex items-center mb-4">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                            </path>
                        </svg>
                        <span>{{tourn.start_date}}</span>
                    </div>
                </div>

                <a href="{% url 'core:tournament' tourn.name %}"
                    class="bg-gray-700 text-white py-2 px-4 rounded-md w-full hover:bg-gray-600 transition duration-300 text-center">
                    Learn More
                </a>
            </div>
            {% empty %}
            <p class="text-white">No ongoing tournaments</p>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if recent_tournaments %}
    <section class="my-8">
        <div class="flex flex-col sm:flex-row justify-between items-center mb-6">
            <h2 class="text-3xl sm:text-4xl font-extrabold dark:text-white mb-4 sm:mb-0">Recent Matches</h2>
            <a href=""
                class="w-full sm:w-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 text-center">View
                More</a>
        </div>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-6">
            {% for tourn in recent_tournaments %}
            <div class="bg-gray-600 text-white rounded-lg p-4 flex flex-col h-full justify-between {% if forloop.counter > 2 %}hidden sm:block{% endif %}">
                <div class="flex-grow">
                    <h2 class="text-2xl font-bold mb-2">{{ tourn.name }}</h2>
                    <p class="text-gray-400 mb-4">by {{ tourn.org.name }}</p>
                    <div class="flex items-center mb-2">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>{{ tourn.venue }}</span>
                    </div>
                    <div class="flex items-center mb-4">
                        <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                            </path>
                        </svg>
                        <span>{{tourn.start_date}}</span>
                    </div>
                </div>
                <a href="{% url 'core:tournament' tourn.name %}"
                    class="bg-gray-700 text-white py-2 px-4 rounded-md w-full hover:bg-gray-600 transition duration-300 text-center mt-auto">
                    Learn More
                </a>
            </div>
            {% empty %}
            <p class="text-white">No recent tournaments</p>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock body %}