{% extends "base.html" %}

{% block title %}
Home
{% endblock title %}

{% block body %}

{% if user.is_authenticated  %}
    <h1>Hello, {{user}} </h1>
    {% if user.is_organiser %}
        <p>You are a organiser!</p>
    {% endif %}
    <a href="{% url 'core:logout' %}">Logout</a>
{% else %}
    <h1>Hello, World</h1>
    <a href="{% url 'core:login' %}">Login</a>
    <a href="{% url 'core:register' %}">register</a>
{% endif %}

{% for up_coming in upcoming_tournaments %}
    {% include "components\macros\tournament_card.html" with tournament_data=up_coming %}
{% endfor %}
{% endblock body %}