{% extends "base.html" %}

{% block title %}
Tournament
{% endblock title %}

{% block body %}

<div>
    <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        {{ tournament_data.name }}, <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400"> by {{ tournament_data.org.name }}</small></h1>
    <span
        class="bg-blue-100 text-blue-800 text-2xl font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2">{{ tournament_data.game.game_type }}</span>
</div>


{% include "components\macros\tournament_details_card.html" %}
<div
    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Categories</h5>
    </div>
    {% for category in tournament_data.categories %}
        {% include "components\macros\categories_card.html" %}
    {% empty %}
    check later!
    {% endfor %}

    
</div>



{% include "components\organisers\add_to_cart.html" %}
{% endblock body %}