

  <div id="accordion-collapse" data-accordion="collapse">
    {% for category in tournament_data.categories %}
    {% if forloop.first %}
    <h2 id="accordion-collapse-heading-{{forloop.counter0}}">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-{{forloop.counter0}}" aria-expanded="true" aria-controls="accordion-collapse-body-{{forloop.counter0}}">
        <span>{{ category.catagory_type }}</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    {% elif forloop.last %}
    <h2 id="accordion-collapse-heading-{{forloop.counter0}}">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-{{forloop.counter0}}" aria-expanded="true" aria-controls="accordion-collapse-body-{{forloop.counter0}}">
        <span>{{ category.catagory_type }}</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    {% else %}
    <h2 id="accordion-collapse-heading-{{forloop.counter0}}">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-{{forloop.counter0}}" aria-expanded="false" aria-controls="accordion-collapse-body-{{forloop.counter0}}">
        <span>{{ category.catagory_type }}</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    {% endif %}
      <div id="accordion-collapse-body-{{forloop.counter0}}" class="hidden" aria-labelledby="accordion-collapse-heading-{{forloop.counter0}}">
        <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
          <p class="mb-2 text-gray-500 dark:text-gray-300">{{ category.details }}</p>
          <ul>
            {% for team in category.teams %}
            <li>
              <p class="mb-2 text-gray-500 dark:text-gray-600">
              {% for member in team.members %}
                  {{ member.name }}
              {% endfor %}
              </p>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
</div>