<div>
  <label for="id_category">Category:</label>

  <select name="category" data-price="your_price_value" id="id_category">
    <option value="0">U18</option>

    <option value="1">U18W</option>

  </select>

</div>

<div>
  <label for="id_price">Price:</label>



  <input type="number" name="price" required id="id_price">

</div>

<div>
  <label for="id_name_1">Name 1:</label>



  <input type="text" name="name_1" maxlength="100" required id="id_name_1">

</div>

<div>
  <label for="id_name_2">Name 2:</label>



  <input type="text" name="name_2" maxlength="100" required id="id_name_2">



</div>