<div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">

    <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Ongoing Matches</h2>

    {% for match in ongoing_matches %}
        {% include "components\tabs\category_matches_card.html" with match_data=match %}
    {% endfor %}

    <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">UpComing Matches</h2>

    {% for match in upcoming_matches %}
    <div class="container mx-auto py-8">
        <div class="bg-gray-800 text-white rounded-lg p-4 flex items-center space-x-4">
            <div class="text-2xl">
                {% for player in match.team1.members %}
                {{player.name}}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
                VS
                {% for player in match.team2.members %}
                {{player.name}}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </div>
            
            <button data-modal-target="default-modal-{{forloop.counter }}" data-modal-toggle="default-modal-{{forloop.counter }}"
                class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">
                Schedule Match [{{match.id}}]
            </button>
            <div id="default-modal-{{forloop.counter }}" tabindex="-1" aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Schedule Match
                            </h3>
                            <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="default-modal-{{forloop.counter }}">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                Choose Court,{{match.id}}
                            </p>
                            <select id="court" class="w-full p-2 border border-gray-200 rounded-lg dark:border-gray-600"
                                name="court" id="court">
    
                                <!-- Need to add Courts and pass 'em here.  -->
                                <option value="1">Court 1</option>
                                <option value="2">Court 2</option>
                                <option value="3">Court 3</option>
                            </select>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button data-modal-hide="default-modal-{{forloop.counter }}" type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                data-url="" onclick="scheduleMatch('{{match.id}}')">Schedule</button>
                            <button data-modal-hide="default-modal-{{forloop.counter }}" type="button"
                                class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}

</div>
<script>
    function scheduleMatch(match_id) {
        var courtId = document.getElementById('court').value;
        fetch("{% url 'api:schedule_match' tournament_name=tournament_data.name category_name=category_data.catagory_type %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                match_id: match_id,
                court_id: ''
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>