<div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel" aria-labelledby="about-tab">

    <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Ongoing Matches</h2>

    {% for match in ongoing_matches %}
        {% include "components\tabs\category_matches_card.html" with match_data=match %}
    {% endfor %}

    <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">UpComing Matches</h2>

    {% for match in upcoming_matches %}
        {% include "components\tabs\category_matches_card.html" with match_data=match %}
    {% endfor %}

</div>